@model IEnumerable<Store.Models.Order>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CustomerId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PaypalInvoiceId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ShippingMethod)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ShippingTotal)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HSTTotal)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OrderTotal)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.CustomerId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PaypalInvoiceId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ShippingMethod)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ShippingTotal)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.HSTTotal)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.OrderTotal)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
